body{
    background-color: #F7FFE5;
}
.contacts_footer{
    padding-left: 50px;
    padding-top: 1px;
    font-size: 20px;
    color: #0A6EBD;
    background-color: rgb(0, 128, 0);
    height: 250px;
}

header .header{
    background-color: #F7FFE5;
    padding: 50px;
}
.logotype{
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 50px;
    color: #0A6EBD;
}

.nav{
    display: flex;
    justify-content: right;
    font-size: 24px;
    gap: 25px;
    padding-right: 50px;
}

.home{
    text-decoration: none;
    color: #0A6EBD;
}

.catalog{
    text-decoration: none;
    color: #0A6EBD;
}

.cart{
    text-decoration: none;
    color: #0A6EBD;
}

.profile{
    text-decoration: none;
    color: #0A6EBD;
}

.contacts{
    text-decoration: none;
    color: #0A6EBD;
}

.fade-in {
    opacity: 0; /* начальное значение непрозрачности */
    animation: fadeIn ease-in 1; /* добавляем анимацию fadeIn */
    animation-fill-mode: forwards; /* будет видимым после завершения анимации */
    animation-duration: 1s; /* длительность анимации в 1 секунду */
  }


  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.
    .gallery {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .gallery img {
    width: 300px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }